//palette
$color-one:#e95280;
$color-two:#23b1a5;
$color-three: #ffdd7e;
$color-four:  #f3f3f3;

//body background
$color-1: #97de95;

//#085078;
$color-2: #c4eada;
//#85D8CE;


//general color
$color-white:#fff;
$color-black:#000;


//borders
$border-radius: .5rem;


